.dgns-result-container {
  padding: 10px 16px;
  font-size: 12px;
  height: inherit;
  & .dgns-result-top {
    height: 23px;
    line-height: 23px;
    margin-bottom: 7px;
    & .btn-collection {
      display: flex;
      justify-content: flex-end;
    }
    & .btn-box {
      width: 21px;
      height: 21px;
      border: 1px solid #d4d4d4;
      border-radius: 3px;
      & div {
        width: 16px;
        height: 16px;
        margin: 3px;
        background-size: contain;
        background-position: 50% 45%;
        background-repeat: no-repeat;
        cursor: pointer;
      }
      .result-popup {
        background-image: url(../imgs/CLR/CLRS0104/ic_popup_s.svg);    
      }
    }
    & :not(:last-child) { margin-right: 4px;}
  }
  & .dgns-result-info::before {
    content: url(../imgs/CLR/CLRS0104/ic_title_result.svg);
    margin-right: 4px;
  }
} 